html{
    background-color: white;
    font-size: 120%;
    display: flex;
    justify-content: center;
    color: #202122;
}
body{
    width: 70vw;
}
p{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0.3lh;
    margin-bottom: 0.3lh;
}
.mono{
    font-family: monospace;
}
small{
    display: inline flow-root;
    font-size: 75%;
    line-height: 1.2;
}
li>:is(h2,h3):first-child, .nmm{
    margin-bottom: 0;
}
a{
    &:link{
        color: blue;
    }
    &:visited{
        color: #993153;
    }
}
.concept{
    font-variant: small-caps;
}
hr{
    width: 5%;
    height: 0;
    border: none;
    border-top: 3px double black;
}
blockquote{
    border-left: 4px solid gray;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #575757;
}
